/clases/ConceptosBasicos/nbproject/private/
diagramaBD.img
/tareas/Libro/nbproject/private/
/tareas/Libro/build/
/clases/ConceptosBasicos/build/
/clases/ReutilizacionCodigo2209/nbproject/private/
/clases/ReutilizacionCodigo2209/build/
/clases/Pelicula/nbproject/private/
/clases/Pelicula y libro/nbproject/private/
/clases/Pelicula y libro/build/
/tareas/Pelicula y libro/nbproject/private/
/tareas/Pelicula y libro/build/
/clases/JavaBasico2209/nbproject/private/
/clases/JavaBasico2209/build/
/clases/JavaBasico2209Parte2/nbproject/private/
/clases/JavaBasico2209Parte2/build/
